body {
	margin: 0;
	padding: 0;
	text-align: justify;
	background-color: lightgrey;
}



.container {
	
	
	word-break: break-word;
  	hyphens: none;
}

.part1 {
	font-family: Akzidenz-grotesk, sans-serif;
	font-size: 50px;
	letter-spacing: -1px;
	line-height: 35px;
	position: sticky;
	top:0px;
	color: black;
	opacity: 30%;
	margin-left: 150px;
	margin-right: 150px;
	/*transform: rotate(45deg) scale(2,5) translate(10%,300px) skew(20deg,24deg);*/
	 }



.part2 {
	font-family: prestige elite std, sans-serif;
	font-size: 40px;
	letter-spacing: 3px;
	line-height: 50px;
	position: sticky;
	top: 0px;
	font-weight: bolder;
	opacity: 50%;
	margin-left: 700px;
	margin-right: 150px;
}

.part3 {
	font-family: clarendon lt std, serif;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 10px;
	position: sticky;
	top: 0px;
	color: black;
	opacity: 66%;
	margin-right: 300px;
	margin-left: 150px;	
	
}

.part4 {
	font-family: Akzidenz-grotesk, sans-serif;
	font-size: 50px;
	letter-spacing: -7px;
	position: sticky;
	top:0px;
	color: black;
	opacity: 100%;
	margin-left: 150px;
	margin-right: 150px;

	/*transform: rotate(45deg) scale(2,5) translate(10%,300px) skew(20deg,24deg);*/
	 }

.part5 {
	font-family: clarendon lt std, serif;
	font-size: 400px;
	position: relative;
	top: 0px;
	color: green;
	margin: 0px;	
}


.articles {
	font-size: 30px;
	font-family: Helvetica;
	letter-spacing: -5px;
	color: blue;
}

.name {
	font-size: 30px;
	font-family: Helvetica;
	letter-spacing: -5px;
	color: yellow;


}

/*.part4 {
	font-family: arial, sans-serif;
	font-size: 50px;
	position: sticky;
	top: 0px;
	}
*/






/*.part3 {
	font-family: Unica, sans-serif;
	font-size: 80px;
	width: 1500px;
	position: relative;
	color: green;

	font-family: serif;
	font-size: 60px;
	width: 1200px;
	position: relative;

	text-align: right;
	color: blue;
	transform: rotate(86deg) scale(4,4) translate(50%,200px) skew(-20deg,10deg)
	}
*/

/*.part4 {
	font-family: futura, sans-serif;
	font-size: 12px;
	width: 500px;

	position: absolute;
	left: 500px;
	top: 1500px;
	color: black;
	transform: rotate(45deg) scale(2,5) translate(10%,300px) skew(20deg,24deg);
}

*/






